/* Style for the Search Patient card */
.search-results-container{
    padding-left: 40px;
}
  button {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: fit-content !important;
    padding: auto;
    margin-bottom: 10px;
  }
.search-box{
    padding-left: 25px;
}

.search-button{
    margin-left: 50px;
    height: 30px;
    width: 100px;
    background-color: #4c9ccd !important; 
    color: white !important;

    
}

.search-patient-title{
    margin-bottom: 15px;
}

